.BoxOpacity {
  background: rgba(90, 90, 90, 0.569);
  backdrop-filter: blur(2.405px);
  border-radius: 20px;

  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    'play spot'
    'play title';
  justify-content: center;
  align-items: center;

  position: absolute;
  left: 5%;
  right: 34.13%;
  top: 26.48%;
  bottom: 64.89%;
}
.play {
  grid-area: play;
  padding-left: 20px;
}
.spot {
  grid-area: spot;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.02em;

  color: #bcbcbc;
}
.title {
  grid-area: title;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.02em;

  color: #ffffff;
}
